.fetching-weather {


}

.input-search {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherGreeting {
    margin-bottom: 3rem;
}

.current-search {
    background-color: transparent;
    width: 100vw;
    height: 25vh;
    border: 1px solid red;
}